:root {
    --padding: 3rem;
    --primary-color: #ee0000;
    --shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
}

@font-face {
    font-family: "Dash Horizon";
    src: url(./fonts/Dashhorizon-eZ5wg.otf);
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Golos Text', sans-serif;;
    background-color: #f9fafb;
}

img {
    width: min(90%, 200px);
}

a {
    color: white;
}

h2 {
    font-weight: 400;
    margin-top: 0;
}

.logo {
    width: 100%;
    padding: 10%;
    text-align: center;
    font-size: 4rem;
    flex: 1;
    margin-top: 200px;
}

.text-logo {
    color: white;
    font-family: "Dash Horizon", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.bg-img {
    background-image: url(./img/formula1bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 33vw;
    display: flex;
    flex-direction: column;
}

.copyright {
    text-align: center;
    color: white;
    padding: 0 1rem;
    font-size: 10px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text {
    padding: 0 var(--padding);
    max-width: 800px;
    font-size: 1.1rem;
    font-weight: bold;
}

.form {
    box-shadow: var(--shadow);
    background-color: #fff;
    padding: 1rem var(--padding);
    margin: 2rem 0 1.5rem;
}

.form-row {
    display: flex;
    margin-bottom: 1rem;
    gap: 4rem;
}

.btn {
    margin: 0 var(--padding);
    padding: .8rem 3rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    box-shadow: var(--shadow);
    transition: .2s ease-in;
}

.btn:hover {
    cursor: pointer;
    background-color: #ee0000cb;
    box-shadow: none;
    transform: translateY(1px);
}

label {
    display: block;
    font-size: .8rem;
    letter-spacing: 1px;
}

input {
    border: 1px solid #E5E7EB; 
    border-radius: 4px;
    padding: .4rem;
    transition: .1s ease-in;
    outline: transparent;
}

input:focus {
    box-shadow: var(--shadow);
    transform: translateY(-1px);
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
}

input:placeholder-shown {
    border-color: #E5E7EB;
}


.log-in {
    padding: 0 var(--padding);
}

.log-in a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}