:root {
    --padding: 3rem;
}

@font-face {
    font-family: "Dash Horizon";
    src: url(./fonts/Dashhorizon-eZ5wg.otf);
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Golos Text', sans-serif;;
    background-color: #f9fafb;
}

img {
    width: min(90%, 200px);
}

a {
    color: white;
}

h2 {
    font-weight: 400;
    margin-top: 0;
}

.logo {
    width: 100%;
    padding: 10%;
    text-align: center;
    font-size: 4rem;
    flex: 1;
    margin-top: 200px;
}

.text-logo {
    color: white;
    font-family: "Dash Horizon", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.bg-img {
    background-image: url(./img/formula1bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 33vw;
    display: flex;
    flex-direction: column;
}

.copyright {
    text-align: center;
    color: white;
    padding: 0 1rem;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text {
    padding: 0 var(--padding);
    max-width: 800px;
    font-size: 1.1rem;
    font-weight: bold;
}

.form {
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15);
    background-color: #fff;
    padding: 1rem var(--padding);
}

.form-row {
    display: flex;
}

.btn {
    margin: 0 var(--padding);
}

label {
    display: block;
}

.log-in {
    padding: 0 var(--padding);
}

.log-in a {
    color: #ee0000;
    text-decoration: none;
    font-weight: bold;
}